# Sentiment Analysis Data Pipeline

In [5]:
pip install textblob

Collecting textblob
  Downloading textblob-0.19.0-py3-none-any.whl.metadata (4.4 kB)
Collecting nltk>=3.9 (from textblob)
  Downloading nltk-3.9.1-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: click in c:\users\chris\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.1.7)
Requirement already satisfied: joblib in c:\users\chris\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\chris\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2023.10.3)
Requirement already satisfied: tqdm in c:\users\chris\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.66.4)
Requirement already satisfied: colorama in c:\users\chris\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)
Downloading textblob-0.19.0-py3-none-any.whl (624 kB)
   ---------------------------------------- 0.0/624.3 kB ? eta -:--:--
   -- ------------------------------------ 41.0/624.3 kB 960.0 kB/s eta 0:00:01
   ------------------------ --------------- 389.1/624.3 kB 4.8 MB/s eta 0:00:01
   ---------------------------------------  614.4/624.3 kB 4.8 MB/s eta 0:00:01
   ---------------------------------------- 624.3/624.3 kB 3.9 MB/s eta 0:00:00
Downloading nltk-3.9.1-py3-none-any.whl (1.5 MB)
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   --------- ------------------------------ 0.4/1.5 MB 7.4 MB/s eta 0:00:01
   ------------------- -------------------- 0.7/1.5 MB 9.1 MB/s eta 0:00:01
   ------------------------ --------------- 0.9/1.5 MB 8.3 MB/s eta 0:00:01
   ----------------------------------- ---- 1.4/1.5 MB 7.8 MB/s eta 0:00:01
   ---------------------------------------- 1.5/1.5 MB 7.4 MB/s eta 0:00:00
Installing collected packages: nltk, textblob
  Attempting uninstall: nltk
    Found existing installation: nltk 3.8.1
    Uninstalling nltk-3.8.1:
      Successfully uninstalled nltk-3.8.1
Successfully installed nltk-3.9.1 textblob-0.19.0
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
import numpy as np
from textblob import TextBlob
import matplotlib.pyplot as plt
from nltk.corpus import stopwords

In [7]:
# TEST OF TEXTBLOB, DO NOT USE IN FINAL PRODUCT
df = pd.DataFrame({'text': ['I love this product!', 'This is terrible.', 'It was okay.']})

# Apply TextBlob's sentiment analysis to the 'text' column
df['sentiment'] = df['text'].apply(lambda x: TextBlob(x).sentiment)

# Extract polarity and subjectivity scores
df['polarity'] = df['sentiment'].apply(lambda x: x.polarity)
df['subjectivity'] = df['sentiment'].apply(lambda x: x.subjectivity)

print(df)

                   text     sentiment  polarity  subjectivity
0  I love this product!  (0.625, 0.6)     0.625           0.6
1     This is terrible.   (-1.0, 1.0)    -1.000           1.0
2          It was okay.    (0.5, 0.5)     0.500           0.5

## Importing our Dataset
We will import our scrapped movie reviews from our github repository and transform it into a Pandas Dataframe for further analysis.

In [31]:
# Set URLs to github repositories with data
movieTheaterData = "https://raw.githubusercontent.com/ChrisxCross2003/DS4002Project1/refs/heads/main/Data/Movie_Theater.csv"

movies_df = pd.read_csv(movieTheaterData)

In [33]:
movies_df.head()

,Theater Name,Review date,Author name,Local Guide,Star rating,Review content
0,Violet Crown,1/24/2025,M,True,5,"What an awesome, little theater! We were fortu..."
1,Violet Crown,1/23/2025,Randy Carter (Pastor Randy),True,5,Great spot to see a movie while in downtown Ch...
2,Violet Crown,1/16/2025,Lindsey,True,5,NaN
3,Violet Crown,1/9/2025,Kyle Dratwa,True,5,NaN
4,Violet Crown,1/2/2025,Waleed Omar,False,5,NaN

## Analyzing the Dataset