# Sentiment Analysis Data Pipeline
This is a scripted data pipeline to ingest our excel data on movie theater reviews and run a sentiment analysis on it using TextBlob.

In [59]:
pip install textblob

Requirement already satisfied: textblob in c:\users\chris\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: nltk>=3.9 in c:\users\chris\anaconda3\lib\site-packages (from textblob) (3.9.1)
Requirement already satisfied: click in c:\users\chris\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.1.7)
Requirement already satisfied: joblib in c:\users\chris\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\chris\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2023.10.3)
Requirement already satisfied: tqdm in c:\users\chris\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.66.4)
Requirement already satisfied: colorama in c:\users\chris\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
import numpy as np
from textblob import TextBlob
import matplotlib.pyplot as plt
from nltk.corpus import stopwords

In [61]:
# TEST OF TEXTBLOB, DO NOT USE IN FINAL PRODUCT
df = pd.DataFrame({'text': ['I love this product!', 'This is terrible.', 'It was okay.']})

# Apply TextBlob's sentiment analysis to the 'text' column
df['sentiment'] = df['text'].apply(lambda x: TextBlob(x).sentiment)

# Extract polarity and subjectivity scores
df['polarity'] = df['sentiment'].apply(lambda x: x.polarity)
df['subjectivity'] = df['sentiment'].apply(lambda x: x.subjectivity)

print(df)

                   text     sentiment  polarity  subjectivity
0  I love this product!  (0.625, 0.6)     0.625           0.6
1     This is terrible.   (-1.0, 1.0)    -1.000           1.0
2          It was okay.    (0.5, 0.5)     0.500           0.5

## Importing our Dataset
We will import our scrapped movie reviews from our github repository and transform it into a Pandas Dataframe for further analysis.

In [31]:
# Set URLs to github repositories with data
movieTheaterData = "https://raw.githubusercontent.com/ChrisxCross2003/DS4002Project1/refs/heads/main/Data/Movie_Theater.csv"

movies_df = pd.read_csv(movieTheaterData)

In [33]:
movies_df.head()

,Theater Name,Review date,Author name,Local Guide,Star rating,Review content
0,Violet Crown,1/24/2025,M,True,5,"What an awesome, little theater! We were fortu..."
1,Violet Crown,1/23/2025,Randy Carter (Pastor Randy),True,5,Great spot to see a movie while in downtown Ch...
2,Violet Crown,1/16/2025,Lindsey,True,5,NaN
3,Violet Crown,1/9/2025,Kyle Dratwa,True,5,NaN
4,Violet Crown,1/2/2025,Waleed Omar,False,5,NaN

## Analyzing the Dataset

In [43]:
# Define a function to get sentiment polarity using TextBlob
def get_sentiment(review):
    if pd.isnull(review) or review == 'NaN':
        return pd.NA, pd.NA
    else:
        blob = TextBlob(review)
        return blob.sentiment.polarity, blob.sentiment.subjectivity

# Apply the function to each row in the 'Review content' column
movies_df[['Sentiment Polarity', 'Subjectivity']] = movies_df['Review content'].apply(lambda review: pd.Series(get_sentiment(review)))

In [49]:
# Printing the output for debugging
print(movies_df[['Review content', 'Sentiment Polarity', 'Subjectivity']])

                                         Review content Sentiment Polarity  \
0     What an awesome, little theater! We were fortu...           0.308514
1     Great spot to see a movie while in downtown Ch...                0.8
2                                                   NaN               <NA>
3                                                   NaN               <NA>
4                                                   NaN               <NA>
...                                                 ...                ...
2936                                                NaN               <NA>
2937                                                NaN               <NA>
2938                                                NaN               <NA>
2939                                                NaN               <NA>
2940  For movies - this is convienent due to distanc...          -0.093353

     Subjectivity
0        0.643595
1            0.75
2            <NA>
3            <NA>
4            <NA>
...           ...
2936         <NA>
2937         <NA>
2938         <NA>
2939         <NA>
2940     0.317758

[2941 rows x 3 columns]

In [51]:
# convert our sentiment analysis into a new dataframe to prep for export.
sentiment_df = movies_df[['Review content', 'Sentiment Polarity', 'Subjectivity']]

In [53]:
sentiment_df.head()

,Review content,Sentiment Polarity,Subjectivity
0,"What an awesome, little theater! We were fortu...",0.308514,0.643595
1,Great spot to see a movie while in downtown Ch...,0.8,0.75
2,NaN,<NA>,<NA>
3,NaN,<NA>,<NA>
4,NaN,<NA>,<NA>